hr {
                
    border-style:dotted none none;
    width:2%;
    border-width: 5px;
    border-color:grey;
    
}
body {
background-color:#EAF6F6;
}
h1,h3 {
    color: #66BFBF;
}